html,
body {
	position: relative;
	height: 100vh;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
}

.swiper {
	max-width: 600px;
	width: 100%;
	padding-bottom: 50px !important;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 320px !important;
	height: 200px !important;
	overflow: hidden;
	border-radius: 8px;
}
.swiper-slide.swiper-slide-visible.swiper-slide-active {
	transition: all 0.3s !important;
}
.swiper-slide-visible.swiper-slide-next,
.swiper-slide-visible.swiper-slide-prev {
	transition: all 0.5s !important;
}
.swiper-slide img {
	display: block;
	width: 100%;
	object-fit: cover;
}
.swiper-controller {
	position: relative;
	margin-top: 80px;
	display: flex;
	gap: 10px;
	/*   justify-content: space-between; */
	z-index: 1111;
}
.swiper-button-next {
	margin-right: 150px;
}
.swiper-button-prev {
	margin-left: 150px;
}
.slider-arrow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	width: 30px !important;
	height: 30px !important;
	cursor: pointer;
	background: #fff;
}
.slider-arrow::after {
	content: "";
}
.slider-arrow .icon {
	position: relative;
	z-index: 11111111111;
	color: black;
	font-size: 16px;
	font-weight: 500;
	pointer-events: all;
	cursor: pointer;
}
.swiper-pagination {
	transform: translateY(50%) !important;
}
.swiper-pagination-bullet {
	width: 10px !important;
	height: 4px !important;
	border-radius: 4px !important;
	transition: all 0.3s;
	background: #ffffff;
}
.swiper-pagination-bullet-active {
	width: 20px !important;
	background: #ffffff;
}
